[submodule "googletest"]
	path = googletest
	url = https://code.ornl.gov/neams-workbench/external/googletest.git
[submodule "TriBITS"]
	path = TriBITS
	url = https://code.ornl.gov/neams-workbench/external/TriBITS.git
[submodule "testframework"]
	path = testframework
	url = https://code.ornl.gov/neams-workbench/external/testframework.git
    
