[submodule "googletest"]
	path = googletest
	url = ../googletest.git
[submodule "TriBITS"]
	path = TriBITS
	url = ../TriBITS.git
[submodule "testframework"]
	path = testframework
	url = ../testframework.git
    
